.platform {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 63%;
    height: 300px;
    width: 100%;
    background: url("../resources/platform/platform-with-grass.png") repeat-x left top;
}