.platform {
    position: absolute;
    top:80%;
    height: 900px;
    width: 100%;
    background: url("https://3.bp.blogspot.com/-RaXRORrsW6A/UZ0DfivwEhI/AAAAAAAAAcg/NJj1oL4uRE4/s320/Forest_Repeatable_Background.jpg") repeat-x left top;
  }